.entry-form__input-wrapper {
    display: flex;
    margin: 20px auto;
    text-align: center;
    width: 500px;
}

.entry-form__priority-wrapper {
    margin-left: -85px;
    z-index: 3;
    padding: 10px 20px;
    color: #E91E63;
    width: 45px;
    text-align: center;
}

.entry-form__button {
    margin: 0 5px;
    padding: 15px;
    cursor: pointer;
    background: #E91E63;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

input {
    display: flex;
    padding: 10px;
    margin: 0 5px;
    width: 400px;
    font-size: 20px;
}