.wheel__wrapper {
    position: relative;
}

.wheel__wrapper {
    width: 575px;
    height: 575px;
    text-align: center;
    margin: 0 auto;
}

.wheel__marker {
    position: absolute;
    top: 45%;
    left: -40%;
    text-align: left;
}

.wheel__wrapper g {
    position: relative;
}

.wheel__wrapper path:hover {
    opacity: 0.8;
    cursor: pointer;
}

.wheel__wrapper textPath {
    padding-top: 35px;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 30%;
}